/*-----------------------------------
-------------GLOBAL STYLES-------------
------------------------------------*/

/* Universal block styles for all pages */
.block {
  position: relative;
  color: #3b3b3b; 
  overflow: hidden;
  padding-bottom: 40px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Universal class to center text/elements in a div */
.center {
  text-align: center;
}

/* Clear float class inside divs */
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* Header div styles for top of each page */
.header {
  position: relative;
  height: 50vh;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Styling for links */
.link-no-decoration {
  text-decoration: none;
  color: #3b3b3b;
  font-weight: 300;
}

.link-page-navigation {
  text-decoration: underline;
  font-weight: 300;
  color: #7aa2ed;
  margin-right: 5px;
  margin-left: 5px;
}

.link {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  color: #3b3b3b;
}

.breadcrumbs {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #dbdbdb;
  text-align: left;
  margin-bottom: 50px;
}

.breadcrumb-links {
  margin: 0 auto;
  color: #9f9f9f;
  width: 60%;
}

/* Header text styles */
.main-title {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 50px;
  height: 50vh;
  line-height: 55vh;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}

textarea, input {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 10px 10px 10px;
  width: 60%;
  color: black;
  font-size: 15px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  font-weight: 300;
  resize: none;
  border: solid 1px #d7d7d7;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

textarea {
  height: 130px;
}

input {
  height: 10px;
  margin-top: 30px;
}

textarea:hover, input:hover {
  background: #e7e7e7;
  color: #3B3B3B;
}

h1, h2, h3, h4 {
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-weight: 300;
}

b {
  font-weight: 400;
}

span {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px; 
}

body {
  overflow-x: hidden; /*Make sure the page doesn't allow horizontal scrolling from any overflow*/
  margin: 0 auto; /* Automatically center the body on screen */
  font-size: 17px; /* Bump up font size to fix font abonomalities on low DPI screens */
  background-image: url('../img/tile.png');
  background-attachment: fixed;
}


/*-----------------------------------
-------------HOMEPAGE-------------
------------------------------------*/

/* Add more spacing above the header */
.snapshots {
  padding-top: 20px;
}

/* Main caption block spanning width and height of display */
.caption-block {
  position: relative;
  background-image: url('../img/homepage.jpg');
  background-blend-mode: multiply;
  background-color: rgba(0, 11, 23, 0.6); /* Add blue overlay to background image for better text readability */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Make sure homepage image stretches the width of the current screen resolution */
  height: 100vh;
  z-index: 1;
  width: 100%;
}

.caption {
  position: relative;
  width: 100%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.caption h1 {
  font-size: 70px;
  margin-top: 0px;
  font-weight: 300;
}

.caption h3 {
  font-weight: 300;
  width: 50%;
  margin: 0 auto;
  line-height: 35px;
}

.caption h1,
.caption h3 { 
  animation: slide ease 0.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
}

/* Slide down animation on homepage caption when page loads */
@keyframes slide{
  0% {
  opacity:0;
  transform:  translate(0px,-50px)  ;
  }
  100% {
  opacity:1;
  transform:  translate(0px,0px)  ;
  }
}

/* Block styles for article snippets */
.article-snapshots {
  padding: 0% 3% 3% 3%;
  width: 75%;
  display: block;
  margin: 0 auto;
}

/* Individual article snippets */
.snapshot {
  margin: 0 auto;
  display: block;
  border-radius: 6px;
  height: 100%;
  width: 30%;
  margin-left: 1.5%; /* 1.5 x 2 = 3% leftover from each snapshot block + 30% = 100%*/
  margin-right: 1.5%;
  padding-bottom: 20px;
  background: white;
  float: left;
  transition: all 0.5s ease;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 0px 24px rgba(0,0,0,.25);
}

.snapshot p,
.snapshot h2 {
  padding: 15px;
}

/* Override default styles for <u> styles */
.snapshot u {
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
}

/* 
  Use fixed height for equal positioning 
  of elements within snapshot block 
*/
.snapshot-title {
  height: 70px;
  font-weight: 400;
}

.snapshot-image {
  width: 100%;
  border-radius: 6px 6px 0px 0px;
}

/* Add hover animation effect to the snippet blocks */
.snapshot:hover { 
  transform: scale(1.05, 1.05);
}

.article-description {
  height: 175px;  
  font-weight: 300;
}

.view-all-link {
  width: 150px;
  height: 50px;
  line-height: 50px;
  background: white;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  margin: 0 auto;
  text-decoration: none;
  color: #3b3b3b;
  transition: background 0.5s ease;
}

.view-all-link:hover {
  background: #e7e7e7;
}

/*---------------------------------
------------E-MAGAZINE PAGE----------
-------------------------------*/

/* Header image */
.magazine-header {
  background-image: url('../img/header_images/magazine-header.jpg');
}

.articles {
  padding-bottom: 3%;
  overflow: hidden;
}
/* Create two columns */
.right-col-article, .left-col-article {
  float: left;
  width: 49%;
}

/* Remove margin from headers with default margins at the top of the new column */
.remove-margin {
  -webkit-margin-before: 0.4em;
  -webkit-margin-after: 0;
}

.right-col-article {
  margin-left: 1%;
}

.left-col-article {
  margin-right: 1%;
}

.single-article {
  width: 60%;
  margin: 0 auto;
  display: block;
  border: 1px solid #e7e7e7;
  background: white;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  border-radius: 0px 0px 6px 6px;
  margin-bottom: 60px;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 24px rgba(0,0,0,.32);
}

/* Parallax windows for magazine article images */
.parallax-article-1, 
.parallax-article-2, 
.parallax-article-3, 
.parallax-article-4 { 
  margin: 0 auto;
  width: 60%;
  height: 40vh; 
  margin-top: 60px;
  border-radius: 6px 6px 0px 0px;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 24px rgba(0,0,0,.32);
}

.parallax-article-1 {
  background-image: url('../img/article1.jpg');
}

.parallax-article-2 {
  background-image: url('../img/article2.jpg');
}

.parallax-article-3 {
  background-image: url('../img/article3.jpg');
}

.parallax-article-4 {
  background-image: url('../img/article4.jpg');
}

.article-title {
  font-weight: 400;
  -webkit-margin-after: 0.3em;
}

.post-author {
  color: #fe7704;
  font-size: 20px;
  margin-top: 0px; 
}

.share-social-block {
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  text-align: center; 
}

.social-icon {
  width: 25px;
  height: 25px;
}

/* Remove the default padding from the left of the <ol> list */
.article-list {
  -webkit-padding-start: 15px;
}

.submit-btn {
  display: block;
  text-decoration: none;
  border-radius: 6px;
  margin: 0 auto;
  margin-top: 10px;
  height: 40px;
  width: 100px;
  text-align: center;
  letter-spacing: 1px;
  transition:background 0.5s ease-in-out; 
  border: 1px solid #b3aca7;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #3B3B3B;
  background-color: #fff; 
  padding: 10px 20px 10px 20px;
}

.submit-btn:hover, 
.submit-btn:focus, 
.submit-btn:active {
  color: #3b3b3b; 
  background-color: #e7e7e7; 
  border-color: #b3aca7; 
  text-decoration: none;
  font-size: 15px;
  transition: background 0.5s ease-in-out; 
}

/* 
  Navigation for related articles 
  on right side of screen 
*/
.side-nav {
  position: fixed;
  width: 200px;
  z-index: 1;
  padding: 5px;
  right: 0;
  border-width: 1px 0px 1px 1px;
  border-radius: 6px 0px 0px 6px;
  font-family: 'Source Sans Pro', sans-serif;
  border-color: #d7d7d7;
  border-style: solid;
  background: white;
  top: 50vh;
}

.side-nav ul {
  list-style: none;
  text-align: left;
  margin-left: -20px;
  margin-right: 15px;
}

.side-nav ul li {
  margin-bottom: 10px;
}

.side-nav ul li a {
  font-size: 14px;
  color: #b4b4b4;
}

/*------------------------------
------------MEMBERS PAGE----------
-------------------------------*/

/* Header image */
.members-header {
  background-image: url('../img/header_images/members-header.jpg');
}

.member-stories {
  display: block;
  overflow: hidden;
}

.member-img, .contact-img {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

/* Position image layered above the story */
.member-img {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 24px rgba(0,0,0,.32);
}

.single-story {
  margin: 0 auto;
  width: 60%;
  margin-top: 240px;
  border: 1px solid #e7e7e7;
  background: white;
  box-sizing: border-box;
  padding: 40px 120px 20px 120px;
  border-radius: 6px;
  max-width: 750px;
  position: relative;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 24px rgba(0,0,0,.32);
}

.member-name {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.left {
  left: -100px;
  animation: slideLeft ease 0.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
}

.right {
  right: -100px;
  animation: slideRight ease 0.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
}

/*Define separate animations for left and right */
@keyframes slideLeft{
  0% {
  opacity:0;
  transform:  translate(-200px, 0px);
  }
  100% {
  opacity:1;
  transform:  translate(0px,0px);
  }
}

@keyframes slideRight{
  0% {
  opacity:0;
  transform:  translate(200px, 0px);
  }
  100% {
  opacity:1;
  transform:  translate(0px,0px);
  }
}

/*------------------------------
------------ABOUT PAGE----------
-------------------------------*/

/* Header image */
.about-header {
  background-image: url('../img/header_images/about-header.jpg');
}

.about-section {
  position: relative;
  margin: 0 auto;
  display: block;
  color: #3b3b3b;
  background: white;
  border-radius: 6px;
  height: 100%;
  margin-bottom: 60px;
  transition: all 0.4s ease;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px; 
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 24px rgba(0,0,0,.32);
  box-sizing: border-box; 
  max-width: 750px;
}

.about-references h1,
.about-section h1 {
  -webkit-margin-before: 0em;
}

.about-references {
  text-align: left;
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
}

.about-title-quote {
  text-align: center;
  font-style: italic;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 60px; 
}

.purpose-img,
.magazine-about-img {
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: contain;
}

.purpose-img {
  background-image: -webkit-linear-gradient(0deg,#fff,#fff 68%,hsla(0,0%,100%,.32) 0,transparent),url('../img/about_images/purpose.jpg');
  background-image: linear-gradient(90deg,#fff,#fff 68%,hsla(0,0%,100%,.32) 0,transparent),url('../img/about_images/purpose.jpg');
  background-position: 100% 50%;
}

.magazine-about-img {
  background-image: -webkit-linear-gradient(180deg,#fff,#fff 68%,hsla(0,0%,100%,.32) 0,transparent),url('../img/about_images/magazine.jpg');
  background-image: linear-gradient(270deg,#fff,#fff 68%,hsla(0,0%,100%,.32) 0,transparent),url('../img/about_images/magazine.jpg');
  background-position: -57% 20%;
}

.col-two-thirds-left {
  width: 65%;
  float: left;
}

.col-two-thirds-right {
  width: 66.666666%;
  float: right;
}
/*------------------------------
------------CONTACT PAGE----------
-------------------------------*/

/* Header image */
.contact-header {
  background-image: url('../img/header_images/contact-header.jpg');
  background-position: 50% 30%; /* Push background down from underneath <h1> text */
}

.contact {
  padding-bottom: 3%;
}

.contact-section {
  margin: 0 auto;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 30px;
  background: white;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 6px;
  height: 260px;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 0px 24px rgba(0,0,0,.25);
  transition: transform 0.5s ease; 
}

.contact-section:hover { 
  transform: scale(1.05, 1.05);
}

/* Create two columns */
.right-col, .left-col {
  float: left;
  width: 45%;
}

/* Remove default margin from top of h2 styles */
.right-col h2 {
  margin-top: 0px; 
}
/* Override styles from textarea selector on other page */
.textarea-contact-form {
  width: 95%;
  float: left;
  height: 60px;
}
/* Override styles from input selector on other page */
.input-contact-form {
  width: 95%;
  float: left;
  margin-top: 0px;
}
.contact-icon {
  height: 140px;
  width: 140px;
}

/*------------------------------
------------REFERENCES PAGE----------
-------------------------------*/


/* Header image */
.references-header {
  background-image: url('../img/header_images/references-header.jpg');
}

.references {
  padding-bottom: 3%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.references-section {
  text-align: center;
  word-wrap: break-word;
  margin: 0 auto;
  border: 1px solid #d7d7d7;
  display: block;
  color: #e7e7e7;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  transition: all 0.4s ease;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.references-section h3 a,
.references-section p a {
  color: #e7e7e7;
}

/* Reduce spacing above and below the <p> elements */
.references-section .black-overlay p {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em; 
}

.references-section:hover {
  transform: scale(1.05, 1.05);
}

.references-images {
  width: 60%;
  margin: 0 auto;
}

.references-images h2 {
  margin-bottom: 30px;
}

.header-references {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 100%;
  text-decoration: underline;
}

.black-overlay {
  padding: 10px;
  background-color: rgba(0, 11, 23, 0.69);
  height: 100%;
  border-radius: 6px;
  box-sizing: border-box;
}


/* Image Backdrops for aesthetic purposes */
.homepage-img {
  background-image: url('../img/homepage.jpg');
}
.article1-img {
  background-image: url('../img/article1.jpg');
}
.article2-img {
  background-image: url('../img/article2.jpg');
}
.article3-img {
  background-image: url('../img/article3.jpg');
}
.article4-img {
  background-image: url('../img/article4.jpg');
}
.fb-img {
  background-image: url('../img/social_media/fb.png');
  background-size: auto 100%;
}
.gplus-img {
  background-image: url('../img/social_media/googleplus.png');
  background-size: auto 100%;
}
.twitter-img {
  background-image: url('../img/social_media/twitter.png');
  background-size: auto 100%;
}
.pinterest-img {
  background-image: url('../img/social_media/pinterest.png');
  background-size: auto 100%;
}
.member1-img {
  background-image: url('../img/members/member1.jpg');
}
.member2-img {
  background-image: url('../img/members/member2.jpg');
}
.member3-img {
  background-image: url('../img/members/member3.jpg');
}
.chat-img {
  background-image: url('../img/contact_icons/chat.png');
  background-size: auto 100%;
}
.email-img {
  background-image: url('../img/contact_icons/email.png');
  background-size: auto 100%;
}
.phone-img {
  background-image: url('../img/contact_icons/phone.png');
  background-size: auto 100%;
}
.magazine-img {
  background-image: url('../img/header_images/magazine-header.jpg');
}
.members-img {
  background-image: url('../img/header_images/members-header.jpg');
}
.about-img {
  background-image: url('../img/header_images/about-header.jpg');
}
.contact-img {
  background-image: url('../img/header_images/contact-header.jpg');
}
.references-img {
  background-image: url('../img/header_images/references-header.jpg');
}
/* --------------------------------------
--------------------Navbar-----------------
------------------------------------------
*/
.navbar {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  z-index: 10;
  height: 70px;
  width: 100%;
  position: fixed; /* Make sure Navbar sticks to the top of the page while scrolling */
  /*Use rgba to make background opacity of navbar 
    transparent but not <li> or <a> elements*/
  background-color: rgba(36, 36, 36, 0.9);
  border-bottom: 1px solid #e6e6e6;
}

/* Left part of navbar to hold logo image */
.left-nav {
  left: 40px;
  position: fixed; /* Make the element take up no width */
}


.navbar .left-nav li a {
  padding: 0px; 
}

.logo {
  width: auto;
  height: 50px;
}

/* Displays the menu as a centered list, but without the dots */
.navbar ul {
  list-style: none;
  text-align: center;
}

/* Display elements horizontally instead of vertically */
.navbar ul li {
  display: inline-block;
  margin: 10px 20px 25px 0px;
}

/* Add a small indicator to the top of the current page menu element */
.current {
  border-bottom: 1px solid #7aa2ed;
  background-color: transparent;
}

.navbar ul li a {
  display: block;
  color: #e7e7e7;
  font-size: 18px;
  text-align: center;
  font-weight: 300; 
  padding: 15px 0px 5px 0px;
  text-decoration: none;
  transition: 0.3s ease;
}

.navbar ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Add orange text effect on hover to the nav elements */
.navbar ul li a:hover{
  color: #7aa2ed;
}

/* Hamburger menu icon */
.menu {
  width: 33px;
  height:  25px;
  background: url(../img/hamburger_menu.png);
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  display: none;
}

.collapsed-menu {
  display: block;
  z-index: 101;
}


/*-----------------------------------
---------------- FOOTER --------------
------------------------------------- */

footer {
  z-index: 0;
  height: 50px;
  font-size: 12px;
  background: transparent;
  font-weight: 300;
  text-align: center; 
  color: #9b9b9b;
  font-family: 'Source Sans Pro', sans-serif;
}

/*--------------------------------------
---------------- MOBILE SCREEN --------------
-------------- RESOLUTION STYLES ------------
----------------------------------------- */

@media screen and ( max-width: 1000px ) { 

  /* Collapse two columns into one for smaller screen width */
  .right-col-article, .left-col-article {
    width: 100%;
    float: none;
  }

}

@media screen and ( max-width: 480px ) { 

  /*-------------GENERAL STYLES-------------*/
  body {
    font-size: 15px;
  }

  /*-------------NAVBAR STYLES-------------*/
  .navbar {
    height: 50px;
  }

  .navbar .left-nav li {
    display: inline-block;
    margin: 10px 20px 0 0;
  }

  .navbar > ul> li > a {
    font-size: 16px;
  }

  .navbar ul li {
    display: block;
    margin: 0 35% 0px 35%;
  }

  .left-nav {
    left: 15px;
    width: 100%;
    position: relative;
  }

  .logo {
    height: 30px;
    width: auto;
  }

  .menu {
    display: block;
  }

  .navbar:hover  .collapsed-menu {
    display: block;
  }
 
  .collapsed-menu {
    display: none;
    background-color: rgba(36, 36, 36, 0.9);
    margin-top: 6px !important;
    padding-bottom: 20px !important;
  }

  /*-------------HOMEPAGE STYLES-------------*/
 /* .caption h1 {
    padding-top: 30vh;
  }*/

  .caption h3 {
    width: 80%;
    margin-top: 20px;
    line-height: 25px;
  }

  .article-snapshots {
    width: 90%;
  }

  .snapshot-title {
    height: 40px;
  }

  .article-description {
    height: 120px;
  }

  .snapshot {
    width: 100%;
    margin-left: 0%; 
    margin-right: 0%;
    margin-bottom: 30px
  }

  /*-------------E-MAGAZINE PAGE STYLES-------------*/
  .single-article {
    width: 90%;
    margin-bottom: 30px;
  }

  textarea, input {
    width: 80%;
  }

  .side-nav {
    display: none;
  }

  .articles {
    padding-bottom: 0px;
  }

  .breadcrumb-links {
    margin: 0; 
    padding-left: 15px;
    text-align: left;
  }

  .right-col-article, .left-col-article {
    width: 100%;
    float: none;
  }

  /* 
    Make background not fixed for mobile browser compatibility 
    (iOS renders background-attachment: fixed incorrectly 
  */
  .parallax-article-1, 
  .parallax-article-2, 
  .parallax-article-3, 
  .parallax-article-4 {
     background-attachment: scroll; 
     height: 30vh;
     margin-top: 30px; 
     width: 90%;
  }

  /*-------------MEMBERS PAGE STYLES-------------*/
  .single-story {
    width: 90%;
    padding: 20px;
  }

  .right {
    right: 0px; 
  }

  .left {
    left: 0px; 
  }
  .member-img {
    top: -90px;
  }

  /*-------------CONTACT PAGE STYLES-------------*/
  .contact-header {
    background-position: 62%; /* Push background left away from text */
  }

  /* Make elements display inline instead of side-by-side*/
  .contact-section {
    width: 90%; 
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
  }

  .right-col, .left-col {
    width: 100%;
    text-align: center;
    padding: 0px;
  }

  /* Add some space beneath the contact icons*/
  .left-col {
    margin-bottom: 30px;
  }

  /*ABOUT STYLES*/
  .about-section {
    width: 100%;
    padding: 20px;
  }

  .about-references {
    width: 90%;
  }

  .purpose-img {
    background-position: -50% 50%;
  }

  .magazine-about-img {
    background-position: 81%;
  }

  .purpose-img, .magazine-about-img {
    background-size: cover;
  }


  /*REFERENCES STYLES*/
  .about-section {
    width: 100%;
  }

  .about-references {
    width: 90%;
  }
}
